@page "{handler?}"
@model HortimexB2B.Web.Pages.Basket.IndexModel
@{
    ViewData["Title"] = "Koszyk";
}

<h2>Koszyk</h2>

@if (Model.BasketModel.Items.Any())
{
    <form method="post">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Kod</th>
                    <th>Nazwa</th>
                    <th>Opakowanie</th>
                    <th>Ilość opakowań</th>
                    <th>Cena netto [1kg]</th>
                    <th>VAT</th>
                    <th>Waga [kg]</th>
                    <th>Wartość netto</th>
                    <th>Wartość brutto</th>
                </tr>
            </thead>
            <tbody>

                @{int i = 0;}
                @foreach (var item in Model.BasketModel.Items)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@item.ProductId</td>
                        <td>@item.ProductName</td>
                        <td>@item.UnitName</td>
                        <td>
                            <input type="hidden" name="@("Items[" + (i-1) + "].Key")" value="@item.ItemId" />
                            <input type="number" class="form-control input-sm" min="1" name="@("Items[" + (i-1) + "].Value")" value="@item.Quantity" />
                        </td>
                        <td>@item.UnitPrice.ToString("N2")</td>
                        <td>@item.Vat%</td>
                        <td>@item.ConvertedQuantity</td>
                        <td>@item.Value.ToString("N2")</td>
                        <td>@item.ValueWithVat.ToString("N2")</td>
                        <td><a class="btn btn-danger" asp-page="Index" onclick="return confirm('Czy chcesz usunąć wybraną pozycję?');" asp-page-handler="Delete" asp-route-id="@item.ItemId"><i class="fa fa-trash"></i></a></td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>@Model.BasketModel.TotalValue.ToString("N2")</td>
                    <td>@Model.BasketModel.TotalValueWithVat.ToString("N2")</td>
                </tr>

            </tbody>
        </table>
        <div class="container">
            <div class="row">
                <div class="pull-left">
                    <a class="basket__button basket__button__continue" asp-page="/Catalog/Index"><i class="fa fa-plus"></i> Kontynuuj zakupy</a>
                    @if (Model.BasketModel.CanBeOrdered)
                    {
                        <button class="basket__button basket__button__order" type="submit" asp-page="Checkout">Złóż zamówienie</button>
                    }
                    else
                    {
                        <a class="basket__button basket__button__order" disabled onclick="return alert('Minimalna wartość zamówienia wynosi 1000 PLN netto');">Złóż zamówienie</a>
                    }
                    <button class="basket__button basket__button__update" type="submit" asp-page-handler="Update"><i class="fa fa-refresh"></i> Aktualizuj</button>
                    <a class="basket__button basket__button__delete" asp-page="Index" onclick="return confirm('Czy chcesz usunąć zawartość koszyka?');" asp-page-handler="DeleteBasket" asp-route-basketId="@Model.BasketModel.BasketId"><i class="fa fa-trash"></i> Usuń</a>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <h3>Twój koszyk jest pusty :-(</h3>
}
